/* Header */

.headerHome {
    background-image: url(../../../img/imgSmog.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.headerHomeBox {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 600px;
    background-color: rgba(88, 87, 87, 0.4);
}

.headerHomeTitle {
    margin-top: 100px;
    color: #2E832E;
    font-size: 50px;
}

@media only screen and (max-width: 767px) {
    .headerHomeTitle {
        display: none;
    }
}

.headerHomeSubTitle {
    color: #f07727;
    font-size: 27px;
    font-weight: 800;
}

@media only screen and (max-width: 767px) {
    .headerHomeSubTitle {
        margin-top: 100px;
        font-size: 24px;
    }
}

.headerHomeP {
    color: #f6f4f3;
    font-size: 21px;
    padding: 0% 10% 0% 10%;
}

@media only screen and (max-width: 767px) {
    .headerHomeP {
        font-size: 19px;
    }
}