/* HEADER */
.headerNitro {
    background-image: url(../../img/headerNitro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.headerNitroBox {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 600px;
    background-color: rgba(88, 87, 87, 0.4);
}

.headerNitroSubTitle {
    margin-top: 190px;
    color: #f07727;
    font-size: 27px;
    font-weight: 800;
}

@media only screen and (max-width: 767px) {
    .headerNitroSubTitle {
        margin-top: 100px;
        font-size: 24px;
        padding: 0px 10px;
    }
}

.headerNitroP {
    color: #f6f4f3;
    font-size: 21px;
    padding: 0% 10% 0% 10%;
}

/* MAIN */
.nitroMain {
    margin-top: 50px;
}

.nitroMainTitle {
    font-size: 27px;
    color: #f07727;
    margin-top: 30px;
}

.nitroMainP {
    text-align: center;
    line-height: 1.75;
    font-size: 20px;
    font-weight: 300;
    color: #6c757d !important;
    text-align: justify !important;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0% 10% 0% 10%;
}

/* CHART */

.nitroChart {
    margin-top: 50px;
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .nitroChart {
        padding: 0px;
    }
}

.nitroChartTitle {
    font-size: 27px;
    color: #f07727;
}